body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    background: url('https://github.com/TrevorJamesLeslie/July24HackathonProject-Team1/blob/main/pexels-photo-1167034.png') no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: -1;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}
